@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Playfair+Display:wght@400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .app {
  background: #010026;
  height: 100%;

  @apply text-white;
}

::selection {
  background-color: #2CBCE9;
  color: #010026;
}

/*========== ScrollBar ============*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #DC4492;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #010026;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FDCC49;
  transition: all 250ms ease-in-out;
}